:root {
  --text-gray: #231f20;
  --bg-gray: #231f20;
  --text-gold: #d8b47e;
  --text-gold-darker: #b49669;
  --bg-gold: #d8b47e;
  --bg-gold-dark: #b49669;
  --bg-gold-darker: #7d694e;
  --text-white: #ffffff;
  --text-black: #000000;
  --bg-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-gray);
  color: white;
  width: 100%;
  z-index: 9999;
  position: fixed;
}

.logo {
  width: 70px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger i {
  color: var(--text-gold);
  cursor: pointer;
}

.hamburger i svg {
  width: 35px;
  height: 35px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-gold);
  font-size: 18px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: var(--text-gold-darker);
}

.hero {
  height: 40vh;
  background: url('../assets/image/heroCompressed.jpg') no-repeat center
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  padding: 14rem 3rem 9rem;
}

.hero-title {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Cinzel', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-gold);
}

.content {
  background-color: var(--bg-gold);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
}

.menu {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu button {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Cinzel', sans-serif;
  font-size: 50px;
  color: #967c57;
  border-bottom: 1px solid black;
  padding: 2rem 5rem 10rem 0rem;
  text-align: left;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

button:first-child {
  border-top: 1px solid black;
}

.menu .active,
button:hover {
  color: black;
}

input,
select {
  width: 100%;
  padding: 1rem;
  border: none;
  font-size: 14px;
  margin-bottom: 1rem;
}

input:focus,
select:focus,
.textarea-container:focus-within {
  outline: 3px solid var(--text-gold);
}

.form {
  width: 50%;
  background-color: var(--bg-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-radius: 20px;
}

.form div:first-child {
  display: flex;
  gap: 1rem;
}

/* Container for the textarea and file upload button */
.textarea-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 1rem;
}

textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  font-size: 14px;
  resize: none;
}

/* Style the upload button */
.file-upload-label {
  display: flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
  color: #ccc;
  font-size: 18px;
  padding: 0 1rem;
}

.file-upload-label svg {
  width: 25px;
  height: 25px;
  color: gray;
}

#file-upload {
  margin-bottom: 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.1rem;
}

#file-upload:focus {
  outline: none;
}

::-webkit-file-upload-button {
  display: none;
}

button[type=submit] {
  background-color: var(--bg-gold);
  width: 8rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  transition: 0.2s all;
}

button[type=submit]:hover {
  background-color: var(--bg-gold-dark);
}

.careers-content {
  display: none;
  width: 50%;
}

.contacts {
  background-color: var(--bg-gray);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: var(--text-gold);
}

.contacts h2 {
  font-family: 'Cinzel', sans-serif;
  font-size: 38px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact-item {
  width: 16rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  border: 1px solid var(--text-gold);
  border-radius: 1rem;
  text-decoration: none;
  color: inherit;
}

.contact-item:hover {
  background-color: var(--bg-gold);
}

.contact-item p {
  font-size: 14px;
  font-weight: 400;
}

.contact-item svg {
  width: 4rem;
  height: 4rem;
}

.contact-item p,
.contact-item i,
.contact-item svg {
  color: var(--text-gold);
  transition: color 0.2s ease;
}

.contact-item:hover p,
.contact-item:hover svg,
.contact-item:hover i {
  color: var(--text-gray);
}

/* Large (lg) Screens (Tablets, 1024px and below) */

@media (max-width: 1024px) {
  .hero-title {
    font-size: 32px;
  }

  .contacts h2 {
    font-size: 32px;
  }

  .menu button {
    font-size: 35px;
  }

  .form div:first-child {
    flex-direction: column;
    gap: 0;
  }
}

/* Medium (md) Screens (Tablets, 768px and below) */

@media (max-width: 768px) {
  /* Navbar */
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--bg-gray);
    padding: 1rem 1rem 2rem 1rem;
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .nav-links.nav-active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
  .hero-title {
    font-size: 25px;
  }

  .contacts h2 {
    font-size: 25px;
  }

  .contact-item {
    width: 12rem;
    height: 9rem;
  }

  .contact-item p {
    font-size: 12px;
  }

  .contact-item svg {
    width: 3rem;
    height: 3rem;
  }

  .content {
    flex-direction: column;
  }

  .menu {
    width: 100%;
  }

  .menu button {
    padding: 1rem;
    text-align: center;
  }

  .form {
    width: 100%;
  }
}

/* Small (sm) Screens (Tablets, 480px and below) */

@media (max-width: 480px) {
  .hero-title {
    font-size: 20px;
  }

  .contacts h2 {
    font-size: 20px;
  }
}
