:root {
  --text-gray: #231f20;
  --bg-gray: #231f20;
  --text-gold: #d8b47e;
  --text-gold-darker: #b49669;
  --bg-gold: #d8b47e;
  --bg-gold-dark: #b49669;
  --bg-gold-darker: #7d694e;
  --text-white: #ffffff;
  --text-black: #000000;
  --bg-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-gray);
  color: white;
  width: 100%;
  z-index: 9999;
  position: fixed;
}

.logo {
  width: 70px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger i {
  color: var(--text-gold);
  cursor: pointer;
}

.hamburger i svg {
  width: 35px;
  height: 35px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-gold);
  font-size: 18px;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: var(--text-gold-darker);
}

.hero {
  /* height: 100vh; */
  background: url('../assets/image/heroCompressed.jpg') no-repeat center
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-gold);
  padding: 7rem 3rem 7rem;
  position: relative;
}

.hero-logo {
  height: 250px;
  margin-bottom: 2rem;
}

.hero-title {
  font-family: 'Cinzel', sans-serif;
  font-size: 52px;
  font-weight: 400;
  margin: 0rem 0rem 1rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
}

.hero-title .highlight {
  color: var(--text-gold);
  display: block;
}

.hero-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  max-width: 53rem;
  margin: 0rem 1rem 0rem;
}

.vertical-divider {
  width: 1px;
  height: 100%;
  opacity: 0.7;
  background-color: var(--text-gold);
  border-radius: 20px;
}

.horizontal-divider {
  display: none;
}

.products {
  display: flex;
  justify-content: center;
  background-color: var(--bg-gray);
  padding: 2rem 3rem;
  gap: 2rem;
}

.products aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  color: var(--text-gold);
}

.aside-title {
  font-family: 'Cinzel', sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: end;
  max-width: 300px;
}

.aside-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: end;
  max-width: 300px;
  margin-bottom: 2rem;
}

.products-container {
  width: 70%;
  height: 100%;
}

.product-list {
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  gap: 2rem;
  padding-bottom: 20px;
}

/* Custom Scrollbar Styles */
.product-list::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.product-list::-webkit-scrollbar-thumb {
  background-color: var(--bg-gold);
  border-radius: 10px;
}

.product-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-gold-dark);
}

.product-list::-webkit-scrollbar-track {
  background-color: var(--bg-gold-darker);
  border-radius: 10px;
}

.product-list::-webkit-scrollbar-button:end:increment {
  width: 55%;
  display: block;
  background: transparent;
}

.product-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--bg-gold);
  min-height: fit-content;
  border-radius: 20px;
  padding: 1rem;
}

.left, .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100%;
}

.right {
  display: none;
}

.cart {
  height: 400px;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.cart-content {
  background-color: var(--bg-gray);
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-gold);
}

.quantity-display {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  border-left: 2px solid var(--text-gold);
  border-right: 2px solid var(--text-gold);
  width: 5rem;
  text-align: center;
  /* padding: 0 1rem; */
}

.minus-button, .plus-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Cinzel', sans-serif;
  font-size: 50px;
  color: var(--text-gold);
  font-weight: 700;
  margin: 0rem 0.5rem;
  padding: 0rem 0.5rem;
  border-radius: 10px;
}

.minus-button:hover, .plus-button:hover {
  background-color: var(--bg-gold);
  color: var(--text-gray);
}

.add-cart {
  background-color: var(--bg-gold);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 18px;
  width: 100%;
  height: 4rem;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
}

.add-cart:hover {
  background-color: var(--bg-gold-dark);
  /* color: var(--text-g); */
}

.add-cart svg {
  width: 2rem;
}

.card-image img {
  height: 400px;
  width: auto;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: 0 0.5rem;
}
.product-title {
  font-family: 'Cinzel', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-details p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.product-details span {
  flex: 1;
}

.product-details .value {
  flex: 2;
  text-align: left;
}

.logistic p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.logistic span {
  flex: 1;
}

.logistic .value {
  flex: 1;
  text-align: left;
}



.product-description {
  line-height: 1.5;
}

.more-info, .less-info {
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

.more-info:hover, .less-info:hover {
  /* text-decoration: none; */
  color: blue;
}

.quality {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-gold);
  padding: 3rem;
  gap: 1rem;
}

.quality-title {
  font-family: 'Cinzel', sans-serif;
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.quality-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  max-width: 63rem;
}

.quality-image {
  max-width: 100%;
  min-width: 300px;
  height: auto;
}

/* Large (lg) Screens (Tablets, 1024px and below) */
@media (max-width: 1024px) {
  /* Hero section */
  .hero-title {
    font-size: 32px;
  }

  .hero-description {
    font-size: 18px;
  }

  .hero-logo {
    height: 200px;
  }

  /* Products section */
  .products {
    flex-direction: column;
    align-items: center;
  }

  .products aside {
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
  }

  .aside-title {
    text-align: center;
  }

  .aside-description {
    text-align: center;
  }

  .products aside {
    width: 100%;
    gap: 0.5rem;
  }

  .aside-title {
    max-width: 100%;
  }

  .aside-description {
    max-width: 80%;
  }

  .horizontal-divider {
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0.7;
    background-color: var(--text-gold);
    border-radius: 20px;
  }

  .products-container {
    width: 100%;
  }


  .product-card {
    width: 300px;
  }

  .card-image img {
    height: 300px;
  }

  .product-title {
    font-size: 20px;
  }

  .product-details p, .product-description {
    font-size: 14px;
  }

  .quality-title {
    font-size: 36px;
  }

  .quality-description {
    font-size: 16px;
  }
}

/* Medium (md) Screens (Tablets, 768px and below) */
@media (max-width: 768px) {

  /* Navbar */
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--bg-gray);
    padding: 1rem 1rem 2rem 1rem;
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }

  .nav-links.nav-active {
    display: flex;
  }

  .hamburger {
    display: block;
  }


  /* Hero section */
  /* .hero-title {
    font-size: 28px;
  } 

  .hero-description {
    font-size: 16px;
  }

  .hero-logo {
    height: 180px;
  } */

  /* Products section */
  .product-card {
    width: 250px;
  }

  .card-image img {
    height: 250px;
  }

  .product-title {
    font-size: 18px;
  }

  .product-details p, .product-description {
    font-size: 12px;
  }

  .quality-title {
    font-size: 32px;
  }

}

/* Small Screens (Mobile, 480px and below) */
@media (max-width: 480px) {
  /* Hero section */
  .hero-title {
    font-size: 24px;
  }

  .hero-description {
    font-size: 16px;
  }

  .hero-logo {
    height: 150px;
  }

  /* Products section */
  .aside-title {
    font-size: 32px;
  }

  .aside-description {
    font-size: 16px;
  }

  .product-card {
    width: 200px;
  }

  .card-image img {
    height: 200px;
  }

  .product-title {
    font-size: 16px;
  }

  .product-details p, .product-description {
    font-size: 10px;
  }

  .quality-title {
    font-size: 28px;
  }

  .quality-description {
    font-size: 14px;
  }
}
